*{
    margin: 3px;
}

.background{
    background-color: rgba(41, 35, 35, 0.925);
}

.font{
    font-weight: bold;
    font-size: 25pt;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.email{
    color: rgba(233, 46, 46, 0.8);
}

.email:hover{
    color: rgba(233, 46, 46);
}

.github{
    color: rgba(153, 255, 0, 0.8);
}

.github:hover{
    color: rgb(153, 255, 0);
}

.linkedin{
    color: rgb(43, 183, 230, 0.8);
}

.linkedin:hover{
    color: rgb(43, 183, 230);
}

.portfolio{
    color: rgb(255, 136, 156);
}

.portfolio:hover{
    color: purple;
}

.headings{
    color: white;
}