*{
    margin: 0;
    padding: 0;
}

.navBack {
    background-color: rgb(0, 0, 0);
}

.background {
    background: rgba(0,0,0,0.5) url("img/bg1.jpg");
    background-blend-mode: darken;
    height: 90vh;
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/Montserrat-Medium.ttf);
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.nameheading{
    width: 30%;
    display: flex;
}

.nameheading h1{
    color:rgb(238, 237, 231);
    margin: auto;
    font: bold 22.5pt montserrat;
}

.navbarRight{
    width: 70%;
    align-items: center;
    padding: 0 75px;
}

.navbarRight ul{
    display: flex;
    list-style: none;
    float: right;
}

.navbarRight ul li{
    margin: 35px;
    font: 12pt montserrat;
}

.navbarRight ul li a{
    list-style: none;
    text-decoration: none;
    color:rgb(238, 237, 231);
}

.navbarRight ul li a:hover{
    color: grey;
}

.aboutme{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme h1{
    font: bold 27.5pt montserrat;
    color: rgb(31, 28, 28);
    margin-left: 7%;
    margin-top: 10%;
    margin-right: 2%;
}

.cardRight{
    display: flex;
    flex-direction: column;
}

.card1{
    width: 70%;
    height: 70%;
    background-color: rgb(226, 229, 227);
    border-radius: 12px;
    display: flex;
}

.card1 img{
    width: 37.2%;
    margin: 1.25%;
}

.card1 p{
    font: 17.5pt montserrat;
    color: rgb(31, 28, 28);
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    margin-top: 1.5%;
    margin-right: 2%;
}